{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Ciras Cybersens</title>
</head>
<body>
    <header>
        <nav>
            <a href="#accueil"> <img src="/static/logo.jpg" alt="" class="logo"> </a>
            <ul id="nav-list">
                <li> <a href="#accueil" class="active">Accueil</a> </li>
                <li> <a href="#assistance">Assistance</a> </li>
                <li> <a href="#signaler">Signaler</a> </li>
                <li> <a href="#s'informer">S'informer</a> </li>
                <li> <a href="#apropos">À propos</a> </li>
            </ul>
            
            <div class="menu-burger" id="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    <main>
        <div class="parallax-bg"></div>
    <section id="accueil" class="text">

          <h1>Bienvenue  <span class="auto-typing"></span></h1>

            <p>Renforcez votre vigilance numérique!
             <br> <strong> Le CIRAS</strong> vous accompagne pour comprendre les cybermenaces </br>
              et adopter les bons réflexes.
              <br> <strong> Ensemble, sécurisons notre environnement digital.</strong> 
            </p> 
            <div class="buttons">
               <button class="btn-incident"> <a href="#signaler">Signaler un incident</a> </button>
               <button class="cta-button"> <a href="#s'informer">Cyber hygiène</a> </button>
            </div>
          
    </section>
            <div class="overlay">

            </div>
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
                let typed = new Typed('.auto-typing', {
                    strings: ['dans', "l'ère" ,'de la', 'vigilance','digitale'],
                    typeSpeed: 150,
                    backSpeed: 150,
                    loop: true,
                    fadeOut:true,
                    fadeOutClass:'typed-fade-out',
                    fadeOutDelay:500,
                    showCursor: true
                });


        const burger = document.getElementById('burger-menu');
        const navList = document.getElementById('nav-list');

        burger.addEventListener('click', () => {
            burger.classList.toggle('active');
            navList.classList.toggle('active');
        });

        // Fermer le menu au clic sur un lien
        document.querySelectorAll('#nav-list a').forEach(link => {
            link.addEventListener('click', () => {
                burger.classList.remove('active');
                navList.classList.remove('active');
            });
        });

        const bg = document.querySelector('.parallax-bg');

        document.addEventListener('mousemove', (e) => {
    // On calcule la position de la souris par rapport au centre de l'écran
    // Division par 60 pour un mouvement très subtil et élégant
        const moveX = (window.innerWidth / 2 - e.clientX) / 60;
        const moveY = (window.innerHeight / 2 - e.clientY) / 60;

    // On applique le mouvement en gardant le scale(1.1)
        bg.style.transform = `scale(1.1) translate(${moveX}px, ${moveY}px)`;
});




    document.getElementById('incidentForm').addEventListener('submit', async function(e) {
    e.preventDefault();

    const form = this;
    const btn = document.getElementById('submitBtn');
    const feedback = document.getElementById('feedback');
    const formData = new FormData(form);

    // État de chargement
    btn.disabled = true;
    btn.innerText = "Envoi en cours...";
    feedback.style.display = 'none';

    try {
        const response = await fetch("{% url 'incident' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        });

        const data = await response.json();

        if (response.ok) {
            // Succès
            form.reset();
            feedback.style.display = 'block';
            feedback.style.backgroundColor = '#d4edda';
            feedback.style.color = '#155724';
            feedback.innerHTML = "<strong>Succès !</strong> Votre signalement a été transmis. Un conseiller vous contactera prochainement.";
            btn.innerText = "ENVOYER LE SIGNALEMENT";
            btn.disabled = false;
        } else {
            // Erreur serveur ou validation
            throw new Error(data.message || "Une erreur est survenue.");
        }
    } catch (error) {
        feedback.style.display = 'block';
        feedback.style.backgroundColor = '#f8d7da';
        feedback.style.color = '#721c24';
        feedback.innerText = error.message;
        btn.disabled = false;
        btn.innerText = "RÉESSAYER";
    }
});
        </script>

        <section id="s'informer" class="content-section">
            <div class="section-header">
                <h2>S'informer</h2>
                <p>Apprenez à déjouer les pièges des pirates</p>
            </div>
    <div class="grid-container">
        {% for conseil in all_conseils %}
        <article class="card" onclick="location.href='#'">
            {% if conseil.image %}
                <img src="{{ conseil.image.url }}" alt="{{ conseil.titre }}">
            {% endif %}
            
            <div class="card-content">
                <span class="badge {{ conseil.categorie }}">
                    {{ conseil.get_categorie_display }}
                </span>
                
                <h3>{{ conseil.titre }}</h3>
                <p>{{ conseil.description|truncatechars:150 }}</p>
                <div class="card-footer">
                <span class="btn-read-more">En savoir plus <i class="arrow-icon">→</i></span>
            </div>
            </div>
            
        </article>
        {% empty %}
            <p>Aucun conseil disponible pour le moment.</p>
        {% endfor %}
    </div> </section>

      <section id="assistance" class="help-section">
    <div class="help-container">
        <h2 class="help-title">BESOIN D'AIDE ?</h2>
        <p class="help-subtitle">Contacter un assistant via l'un des canaux ci-dessous :</p>

        <div class="help-grid">
            <div class="help-card">
                <div class="icon-wrapper">
                    <i class="fas fa-phone-alt"></i> </div>
                <h3>Par téléphone</h3>
                <p>Une assistance rapide pour vos urgences techniques.</p>
                <a href="tel:+33123456789" class="help-link">+242 06 123 45 67</a>
            </div>

            <div class="help-card">
                <div class="icon-wrapper">
                    <i class="fas fa-envelope"></i>
                </div>
                <h3>Par Email</h3>
                <p>Envoyez-nous vos documents ou questions détaillées.</p>
                <a href="mailto:support@ciras.fr" class="help-link">support@ciras.cg</a>
            </div>

            <div class="help-card">
                <div class="icon-wrapper">
                    <i class="fas fa-comments"></i>
                </div>
                <h3>Chat en direct</h3>
                <p>Discutez en temps réel avec un conseiller disponible.</p>
                <a href=""></a>
                <button class="help-btn">Démarrer le chat</button>
            </div>
        </div>
    </div>
</section>
    <section id="signaler" class="spa-section">
        <div class="incident-container">
            <h2 class="form-title">Signaler un incident au CIRAS</h2>
            <p class="subtitle">Toutes les informations transmises sont sécurisées et confidentielles.</p>
    
            <form method="post" enctype="multipart/form-data" class="custom-form">
                 {% csrf_token %}
                <div class="form-grid">
                {{ incident_form.as_p }}
                </div>
                <button type="submit" class="btn-submit">Envoyer</button>
            </form>
        </div>

    </section>
    <section id="apropos">
    <div class="container-apropos">
        <div class="content-text">
            <h3>À propos du <span>CIRAS</span></h3>
            <p class="description">
                Le Centre d'Informatique et de Recherche de l'Armée et de la Sécurité (CIRAS) est l'organe de référence pour la protection du cyberspace congolais.
            </p>

            <div class="mission-vision">
                <div class="item">
                    <i class="icon-shield"></i> <h4>Notre Mission</h4>
                    <p>Assurer la veille technologique et répondre aux incidents de cybersécurité pour garantir la souveraineté numérique.</p>
                </div>
                <div class="item">
                    <i class="icon-eye"></i> <h4>Notre Vision</h4>
                    <p>Devenir un hub d'excellence en cybersécurité pour sensibiliser et protéger chaque citoyen et entreprise.</p>
                </div>
            </div>

            <a href="#" class="btn-more">En savoir plus</a>
        </div>

        <div class="content-image">
            <div class="image-wrapper">
                <img src="/static/tech.jpg" alt="CIRAS Team">
                <div class="badge-247">
                    <span>24/7</span>
                    <p>SURVEILLANCE</p>
                </div>
            </div>
        </div>
</section>
 

        </main>

</body>
   <footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <div class="brand-box">
                <img src="/static/logo.jpg/" alt="Logo"> <p>CENTRE D'INFORMATIQUE ET DE RECHERCHE DE L'ARMEE ET DE LA SECURITE</p>
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

        <div class="footer-col">
            <h3>Navigation</h3>
            <ul>
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#assistance">Assistance</a></li>
                <li><a href="signaler">Signaler</a></li>
                <li><a href="#informer">S'informer</a></li>
                <li><a href="#apropos">À propos</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="https://ciras.cg/">Site Officiel du Ciras</a></li>
                <li><a href="https://sgg.cg/">SGG</a></li>
                <li><a href="https://anssi.cg/">ANSSI</a></li>
                <li><a href="#">ACSI</a></li>
                <li><a href="#">ARPCE</a></li>
                <li><a href="#">ADEN</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Nous contacter</h3>
            <div class="newsletter-card">
                <p>Inscrivez-vous à notre newsletter pour suivre nos actualités</p>
                <div class="form-group">
                    <input type="email" placeholder="Votre email">
                    <button type="submit">S'inscrire</button>
                </div>
            </div>
            <div class="contact-details">
                <div><i class="fas fa-map-marker-alt"></i> <span>Immeuble CIRAS, rue LAMOTHE, B.P. 1542, Plateau-ville, Brazzaville</span></div>
                <div><i class="fas fa-envelope"></i> <span>contact@ciras.cg</span></div>
                <div><i class="fas fa-phone"></i> <span>+242 06 123 45 67</span></div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2026 CIRAS
    </div>

    <a href="#" class="scroll-top"><i class="fas fa-arrow-up"></i></a>
</footer>
</html>